<!DOCTYPE html>
<html>
<head>
  <title>MY DEMO ES6</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div style="min-height:100%;" id="root"></div>
<script src="bundle.js"></script>
</body>
</html>